.gallery {

  padding: 5px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;

  .pswp-thumbnails {
    margin: auto;
    column-count: 6;
    column-gap: 0;

    @media (max-width: 1200px) {
      column-count: 5;
    }

    @media (max-width: 1000px) {
      column-count: 4;
    }

    @media (max-width: 788px) {
      column-count: 3;
    }

    @media (max-width: 580px) {
      column-count: 2;
    }

    img {
      display: block; // removes whitespace
    }

  }


  .pswp-thumbnail {

    break-inside: avoid; // for column-count
    padding: 5px;

    cursor: pointer;

  }

  .pswp__top-bar {
    background-color: transparent;
  }

  .pswp__caption__center { // sass-lint:disable-line bem-depth
    font-family: "verdana", sans-serif;
    font-size: 12px;
    text-align: center;
    max-width: none;
  }

  .pswp__counter {
    font-family: "verdana", sans-serif;
    font-size: 9px;
  }
}
