.gallery { 

  .pswp-thumbnails {
    margin: auto;
    column-count: 4;
    column-gap: 0;

    @media (max-width: 788px) {
      column-count: 3;
    }

    @media (max-width: 580px) {
      column-count: 2;
    }

  }


  .pswp-thumbnail {

    break-inside: avoid; // for column-count
    padding: 5px;

    cursor: pointer;

  }

  .pswp__top-bar {
    background-color: transparent;
  }

  .pswp__caption__center { // sass-lint:disable-line bem-depth
    font-family: "verdana", sans-serif;
    font-size: 12px;
    text-align: center;
  }
}
