@import "../../../scss/_variables.scss";

.wedding {

}

.wedding__names {
  font-size: 54px;
  padding-top: 112px;
  padding-bottom: 112px;

  background-color: $blue;

  .container {
    width: 500px;
  }

  h1 {
    color: white;
    margin-bottom: 12px;
  }

  h2 {
    color: white;
    font-family: $alegreya;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
  }

  @supports (background-blend-mode: multiply) {
    background-image: url("../img/rock-texture.jpg");
    background-blend-mode: multiply;
  }
}

.wedding__info {

}

.wedding__date {
  display: flex;
  justify-content: center;
  padding: 24px 12px;

  font-size: 24px;
  text-align: center;
}

.wedding__from-now {
  font-size: 18px;
}

.wedding__hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 24px 12px;
  font-size: 24px;
  line-height: 1.4em;
  text-align: center;
}

.wedding__map-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 12px;
}

.wedding__blurb {
}

.wedding__map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 100%;
}
