@import "./_variables.scss";


.btn {
  display: inline-block;
  padding: 6px 12px;

  color: white;
  font-size: 16px;
  text-decoration: none;

  background-color: $blue;
  border-radius: 4px;

  .icon {
    margin-left: 6px;
  }
}

.btn__holder {
  text-align: center;
  margin-bottom: 24px;
}
